/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  font-family: 'Lato', sans-serif;

}

h1 {
  font-size: 57px;
  margin-bottom: 38%;

}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
  padding-top: 24px;
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
  padding-top: 10px;

}

h4{
  margin: 0;
}

h5{
  font-size: 36px;
  margin: 0;
  margin-bottom: 15px;

}

p {
  margin-bottom: 10px;
}

/* ---- layout ---- */



.header {
  top: 0;
  height: auto;
  width: auto;
  z-index: 3;
}

.header img{ 
  width: 35%;
  float: right;

}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

.main-content{
  color: #fff
}

.content{
  padding-top: 30px;
}

main img {
  position: absolute;
  height: 100%;
  z-index: -1;
}

/* ---- components ---- */


.button {
  width: 100%;
  background-color: #C42744 ;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  max-width: 333px;
  margin: 20px auto;
  box-shadow: 0 1px 1px #D4D5D4;
  border-radius: 3px;
  
}

.benefits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.benefits div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card{
  margin: 0 65px;
  padding-top: 30px;
}

.icon{
  position: unset;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 12px;

}

